body {
    margin: 0;
    font-family: Arial;
    background: #f4f7fb;
}

.hero {
    height: 90vh;
    background: linear-gradient(135deg, #1e3a8a, #2563eb);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
}

.links a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.admin-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: black;
    color: white;
    padding: 10px;
    text-decoration: none;
}